.weather {
    font-style: italic;
    color: grey;
}

.alert {
    background-color: lightcoral;
    height: 1.5em;
    border-radius: 20px;
    border-width: 0;
    font-style: italic;
    width: 50vw;
    padding: 10px;
}

.countryItem {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}

.countryItem p {
    font-weight: 600;
}

button {
    background-color: lightgray;
    border-radius: 20px;
    border-width: 0px;
    height: 2em;
    padding:5px;
    margin-left: 10px;
}